In [46]:
import pandas as pd

In [47]:
df = pd.read_csv("Global_annual_mean_temp.csv")

In [48]:
print(df)

     Year  No_Smoothing  Lowess(5)
0    1880         -0.17      -0.10
1    1881         -0.09        NaN
2    1882         -0.11        NaN
3    1883           NaN      -0.20
4    1884         -0.28      -0.24
..    ...           ...        ...
138  2018          0.85       0.92
139  2019          0.98       0.93
140  2020          1.02       0.93
141  2021          0.84       0.94
142  2022          0.89       0.90

[143 rows x 3 columns]

In [49]:
print(df.head())

   Year  No_Smoothing  Lowess(5)
0  1880         -0.17      -0.10
1  1881         -0.09        NaN
2  1882         -0.11        NaN
3  1883           NaN      -0.20
4  1884         -0.28      -0.24

In [50]:
print(df.head(0))

Empty DataFrame
Columns: [Year, No_Smoothing, Lowess(5)]
Index: []

In [51]:
print(df.head(3))

   Year  No_Smoothing  Lowess(5)
0  1880         -0.17       -0.1
1  1881         -0.09        NaN
2  1882         -0.11        NaN

In [52]:
print(df.head(-3))

     Year  No_Smoothing  Lowess(5)
0    1880         -0.17      -0.10
1    1881         -0.09        NaN
2    1882         -0.11        NaN
3    1883           NaN      -0.20
4    1884         -0.28      -0.24
..    ...           ...        ...
135  2015          0.89       0.83
136  2016          1.01       0.87
137  2017          0.92       0.91
138  2018          0.85       0.92
139  2019          0.98       0.93

[140 rows x 3 columns]

In [53]:
print(df.tail())

     Year  No_Smoothing  Lowess(5)
138  2018          0.85       0.92
139  2019          0.98       0.93
140  2020          1.02       0.93
141  2021          0.84       0.94
142  2022          0.89       0.90

In [54]:
print(df.tail(0))

Empty DataFrame
Columns: [Year, No_Smoothing, Lowess(5)]
Index: []

In [55]:
print(df.tail(3))

     Year  No_Smoothing  Lowess(5)
140  2020          1.02       0.93
141  2021          0.84       0.94
142  2022          0.89       0.90

In [56]:
print(df.tail(-3))

     Year  No_Smoothing  Lowess(5)
3    1883           NaN      -0.20
4    1884         -0.28      -0.24
5    1885         -0.33      -0.26
6    1886         -0.31      -0.27
7    1887         -0.36      -0.27
..    ...           ...        ...
138  2018          0.85       0.92
139  2019          0.98       0.93
140  2020          1.02       0.93
141  2021          0.84       0.94
142  2022          0.89       0.90

[140 rows x 3 columns]

In [57]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          143 non-null    int64
 1   No_Smoothing  141 non-null    float64
 2   Lowess(5)     139 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 3.4 KB
None

In [58]:
print(df.describe())

             Year  No_Smoothing   Lowess(5)
count   143.00000    141.000000  139.000000
mean   1951.00000      0.064965    0.066115
std      41.42463      0.367670    0.359834
min    1880.00000     -0.480000   -0.410000
25%    1915.50000     -0.200000   -0.225000
50%    1951.00000     -0.030000   -0.030000
75%    1986.50000      0.270000    0.290000
max    2022.00000      1.020000    0.940000

In [59]:
print(df.isnull())

      Year  No_Smoothing  Lowess(5)
0    False         False      False
1    False         False       True
2    False         False       True
3    False          True      False
4    False         False      False
..     ...           ...        ...
138  False         False      False
139  False         False      False
140  False         False      False
141  False         False      False
142  False         False      False

[143 rows x 3 columns]

In [60]:
print(df.isnull())#changes made in csv

      Year  No_Smoothing  Lowess(5)
0    False         False      False
1    False         False       True
2    False         False       True
3    False          True      False
4    False         False      False
..     ...           ...        ...
138  False         False      False
139  False         False      False
140  False         False      False
141  False         False      False
142  False         False      False

[143 rows x 3 columns]

In [61]:
print(df.isnull().count())#changes made in csv

Year            143
No_Smoothing    143
Lowess(5)       143
dtype: int64

In [62]:
print(df.dropna())#changes made in csv

     Year  No_Smoothing  Lowess(5)
0    1880         -0.17      -0.10
4    1884         -0.28      -0.24
5    1885         -0.33      -0.26
6    1886         -0.31      -0.27
7    1887         -0.36      -0.27
..    ...           ...        ...
138  2018          0.85       0.92
139  2019          0.98       0.93
140  2020          1.02       0.93
141  2021          0.84       0.94
142  2022          0.89       0.90

[137 rows x 3 columns]

In [63]:
print(df)

     Year  No_Smoothing  Lowess(5)
0    1880         -0.17      -0.10
1    1881         -0.09        NaN
2    1882         -0.11        NaN
3    1883           NaN      -0.20
4    1884         -0.28      -0.24
..    ...           ...        ...
138  2018          0.85       0.92
139  2019          0.98       0.93
140  2020          1.02       0.93
141  2021          0.84       0.94
142  2022          0.89       0.90

[143 rows x 3 columns]

In [64]:
df.isnull().sum()

Year            0
No_Smoothing    2
Lowess(5)       4
dtype: int64

In [65]:
df.dropna( inplace = True )

In [66]:
print(df)

     Year  No_Smoothing  Lowess(5)
0    1880         -0.17      -0.10
4    1884         -0.28      -0.24
5    1885         -0.33      -0.26
6    1886         -0.31      -0.27
7    1887         -0.36      -0.27
..    ...           ...        ...
138  2018          0.85       0.92
139  2019          0.98       0.93
140  2020          1.02       0.93
141  2021          0.84       0.94
142  2022          0.89       0.90

[137 rows x 3 columns]

In [67]:
print(pd.get_dummies(df))

     Year  No_Smoothing  Lowess(5)
0    1880         -0.17      -0.10
4    1884         -0.28      -0.24
5    1885         -0.33      -0.26
6    1886         -0.31      -0.27
7    1887         -0.36      -0.27
..    ...           ...        ...
138  2018          0.85       0.92
139  2019          0.98       0.93
140  2020          1.02       0.93
141  2021          0.84       0.94
142  2022          0.89       0.90

[137 rows x 3 columns]

In [68]:
df = df.astype(str)

In [69]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 0 to 142
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          137 non-null    object
 1   No_Smoothing  137 non-null    object
 2   Lowess(5)     137 non-null    object
dtypes: object(3)
memory usage: 2.7+ KB
None

In [70]:
print(df.dtypes)

Year            object
No_Smoothing    object
Lowess(5)       object
dtype: object

In [71]:
print(df.astype({"Year":"int64"}).dtypes)

Year             int64
No_Smoothing    object
Lowess(5)       object
dtype: object

In [72]:
print(df.dtypes)

Year            object
No_Smoothing    object
Lowess(5)       object
dtype: object

In [73]:
print(df.dtypes)

Year            object
No_Smoothing    object
Lowess(5)       object
dtype: object

In [74]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 0 to 142
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          137 non-null    object
 1   No_Smoothing  137 non-null    object
 2   Lowess(5)     137 non-null    object
dtypes: object(3)
memory usage: 2.7+ KB
None

In [83]:
print(df)

     Year No_Smoothing Lowess(5)
0    1880        -0.17      -0.1
4    1884        -0.28     -0.24
5    1885        -0.33     -0.26
6    1886        -0.31     -0.27
7    1887        -0.36     -0.27
..    ...          ...       ...
138  2018         0.85      0.92
139  2019         0.98      0.93
140  2020         1.02      0.93
141  2021         0.84      0.94
142  2022         0.89       0.9

[137 rows x 3 columns]

In [77]:
print(df.shape)

(137, 3)

In [84]:
print(df.min())

Year             1880
No_Smoothing    -0.01
Lowess(5)       -0.01
dtype: object